/*@charset 'utf-8';*/
/*清除默认样式，设置基础样式*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration:none;
    color:#999;
}
body{
    font:12px '微软雅黑',sans-serif;
    color:#999;
}
a:hover{
    color:#64A131;
}
img,input{
    vertical-align:bottom;
}

#container{
    width:990px;
    /*height:10px;*/
    margin:0 auto;
    /*background-color:#eee;*/
}

/*1.导航部分*/
#nav{
    height:30px;
    background-color:#eee;
    line-height:30px;
}
#rightNav{
    float: right;
}
#rightNav li{
    float:left;
    text-align:center;
}
#rightNav li b{
    border-right:1px solid #99B0CD;
    margin-right: 10px;
    margin-left: 10px;
}